.table__calc__result {
    & .table__header{
        font-weight: 700;
        height: 100px;
        & td {
            border-right: 2px solid rgba(73, 73, 73, 0.233);
        };
        & .cell {        
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            bottom:0;            
            height: 100px;
            text-align: center;
            margin: auto;
        }
    }
    & td {
        border-bottom: 2px solid rgba(73, 73, 73, 0.233);
        border-right: 2px solid rgba(73, 73, 73, 0.233);
        padding: 5px;
        text-align: center;
        width: 5%;
    }
}